html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Стартовый навигационный блок________________________________________________________________________________________*/

hr { /*Редактируем горизонтальную линию (учтите, не во всех браузерах сработает)*/
    /*margin-top: 500px; !*Обнуляем все внешние отступы*!*/
    /*padding: 0; !*Обнуляем все внутренние отступы*!*/
    color: rgba(161, 161, 161, 1); /*И задаём цвет*/
    width: 1920px;
    height: 1px;
}
.container {
    margin: 0 auto;
    width: 1920px;
}

.baground_startblock {

    position: relative;
    left: 160px; /*Перемещаем его правее, увеличивая отступ слева*/
    bottom: 175px; /*Перемещаем выше, делая больше отступ снизу*/
    color: #2766F7; /*Цвет текста*/
    background-color: #FFFFFF; /*Цвет самой кнопки*/
    border: 1px solid #ffffff; /*Цвет рамки кнопки, которая подстроена под цвет заднего фона*/
    padding: 10px 12px; /*Делаем кнопку больше посредством увеличения внутренних отступов от самого символа до границ рамки*/
    border-radius: 50%; /*Скругляем таким образом рамку до состояния круга*/

}
/*.navigation_block{*/
/*    margin-top: -20px;*/
/*}*/

.navigation_block hr{

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;

}

nav a{
    text-decoration: none;
}
