html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}
/* Стартовый навигационный блок________________________________________________________________________________________*/


.container {
    margin: 0 auto;
    width: 1920px;
}

nav{
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 825px;
    right: 300px;
    margin-top: -45px;
    margin-bottom: 80px;
    margin-right: 55px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    padding-right: 30px;
}

hr{
    width: 107px;
    height: 2px;
    color: #FFF;
    margin-top: 40px;
    margin-left: 0;
}

.line{
    width: 1920px;
    height: 1px;
    opacity: 0.2;
    background: #A1A1A1;
    position: relative;
    bottom: 860px;
}

.line2{
    width: 107px;
    height: 0;
    background: #FFF;
    position: relative;
    bottom: 904px;
    margin-left: 955px;
}

.opening_text{
    position: relative;
    bottom: 715px;
    text-align: center;
}
.opening_text h6{
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.opening_text h1{
    color: #FFF;
    font-family: Montserrat, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 134.09%; /* 64.363px */
    margin-top: -15px;
    margin-bottom: 45px;
}
.opening_text a{
    border: 1px solid #4985FF;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    flex-shrink: 0;
    padding: 13px 40px;
    color: #FFF;
    text-decoration: none;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*-- 2 блок - ссылки на услуги --*/
.opening_block h2{
    text-align: center;
    margin-top: -280px;
    color: var(--dark, #323232);
    font-family: Montserrat, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%;
}
.opening_block p{
    color: var(--grey, #999);
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%;
}


.sait_block {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.sait_organaizer{
    display: flex;
    margin-left: 75px;
    margin-right: 60px;
    margin-top: -20px;
}



.graphic_arts{
    position: relative;
    margin-right: 20px;
}


.graphic_arts1{
    position: relative;
    bottom: 0px;
    flex-shrink: 0;
    margin-left: -63.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.graphic_arts2{
    position: relative;
    bottom: 0;
    flex-shrink: 0;
    margin-left: -100px;
    margin-bottom: 20px;
}

.graphic_arts3{
    position: absolute;
    bottom: 2px;
    left: 70px;
    flex-shrink: 0;
    margin-left: -98px;
    margin-bottom: 92px;
}

.sait_arts{
    margin-top: 40px;
}


.sait_arts h3{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sait_arts p{
    color: var(--grey, #999);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 22.186px */
}


.services_block{
    text-align: center;
    margin-top: 60px;

}
.services_block a {
    border: 1px solid #4985FF;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #FFF;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 13px 40px;
    text-decoration: none;
}

/*-- 3 блок - информация о компании --*/